body {
    padding-top: 20px;
    font-family: "Saira Semi Condensed" ,'Nanum Gothic', sans-serif;
}
.intro {
    background-color: white;
    text-align: center;
    margin: 0 auto;
    
}

.dropdown-item{
    justify-content: center;
    margin: 0 auto;
}

.secondHeading{
    padding-bottom: 15px;
}

h1 {
    letter-spacing: 4px;
    
    padding-bottom:10px;
    text-align: center;
    color: #000000;
    padding-top: 30px;
    font-size: 200%;
    transform: scaleY(1.2);
    font-style: "PT Sans Narrow";
}


div {
    justify-content: center;
    padding-bottom: 20px;
}


#navbar-toggler-icon {
    position: center;
}

.nav-item{
    
    padding-left: 10px;
    padding-right: 10px;
    letter-spacing: 4px;
    justify-content: center;
}



.dropdown-menu.show{
    font-size: 90%;
    border: none;
    justify-content: center;
    
    
}
h4 {
    font-size: 65%;
    color: #9c9c9c;
    padding-left: 7px;
    padding-right: 7px;  
    letter-spacing: 4px;
}

a{
    color: #9c9c9c;
}

a:hover{
    color: black;
}

li:hover{
    cursor: pointer;
}

ul {
    
    font-size: 70%;
    color: #9c9c9c;

}

#baselImg{
    padding-left: 40px;
    padding-right: 40px;
    
    margin: 0 auto;
    max-width: 930px;
}

h2 {
    padding-top: 20px;
}
.card {
    font-family: 'Nanum Gothic';
}


h5{
    max-width: 850px;
    margin: 0 auto;
}



#socialLinks a{
 width: 1.2em;
 padding-right: 15px;
}

#socialLinks{
    
    padding-top: 20px;
    
}


.dropdown-backdrop {
    position: static;
}

#info {
   
    position: center;
    
    text-align: center;
    
}

.social{
    font-size: 70%;
    padding-right: 20px;
    font-style: bold;
    justify-content: center;


}